@font-face {
  font-family: 'RoseFont';
  src: url('./rose-font.woff') format('woff');
}

.redColor {
  color: red;
}

body {
  /* font-family: 'RoseFont', sans-serif; */
  font-weight: 400;
  max-width: 85vw;
  margin: 0 auto;

  /* For STICKY FOOTER at the bottom */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

/* For STICKY FOOTER at the bottom */
#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-family: 'RoseFont', sans-serif;
  background: #f4f0ec;
  /* max-width: 85vw; */
  /* margin: 0 auto; */
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 100px;
  float: left;
  /* padding: 10px 0; */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  /* float: left; */
  display: inline-block;
  margin-left: 70px;
  padding-top: 18px;
  position: relative;
}

nav li:last-child {
  float: right;
  margin-right: 20px;
  /* background-color: pink; */
}

nav a {
  text-decoration: none;
  /* text-transform: lowercase; */
  font-size: 18px;
}

nav a:hover {
  background-color: #cfcfc4;
}

nav a::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #989898;

  width: 0;
  transition: all 0.3s ease-in-out 0.2s;
  position: absolute;
  top: 0;
}

nav a:hover::after {
  width: 100%;
}

.search-btn {
  border: 0;
}

.fa-search {
  color: #000;
  font-size: 15px;
}

/* header, main {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
} */
/* MAIN */
.main {
  /* margin-top: 100px; */
  padding: 180px 0 120px 0;
  display: flex;
  flex-wrap: wrap;
  width: inherit; /* NEWLY ADDED */
  max-width: 100%;
  /* justify-content: center; */
  align-items: center;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(110deg, #E6D3C3 60%, #D8D174 60%);
}

#description {
  margin-left: 80px;
  flex-grow: 1;
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#description div:nth-child(1) {
  color: #EF0107;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.20em;
}

#description div:nth-child(2) {
  font-size: 35px;
  letter-spacing: 0.05em;
}

#description div:nth-child(3) {
  font-size: 15px;
  letter-spacing: 0.05em;
}

.order-btn {
  margin-top: 20px;
  font-size: 1rem;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  width: 170px;
  /* height: 40px; */
  border: 0;
  /* border-radius: 15%; */
  background-color: #808080;
  color: white;
}

#food-picture {
  flex-grow: 1.5;
}

.pasta {
  margin-left: 70px;
  width: 400px;
  /* border-radius: 50% 20% / 10% 40%; */
  border-radius: 10px 100px / 120px;
  opacity: 0.85;
}

/* FOOTER */
footer {
  /* background-color: #898a74; */
  background-color: #898a74;
  color: white;
  padding: 0.7em;
  margin-top: auto;
  font-family: 'Oswald', sans-serif;
  display: flex;
  max-width: 100vw;
  justify-content: center;
  gap: 15px;
}

footer a {
  color: white;
}

/* MENU TAB */
.menu-page-top-container {
  min-width: 100%;
  /* min-width: 100vw; */
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.menu-image-text { /* 'MENU' text displayed thru this */
  font-size: 2.5em;
}

.menulist-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  width: 100%;
  row-gap: 15px;
  column-gap: 20px;
}

/* Individual menu items */
.menu-item {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  height: 150px;
  column-gap: 10px;
  border-bottom: 1px solid #989b9e;
  padding: 1em;
}

.menu-item:nth-last-child(1) {
  border-bottom: none;
}

.menu-detail-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 100px;
}

.menu-photo {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.menu-name {
  font-size: 14px;
  grid-column: 1 / 3;
  grid-row: 1;
}

.menu-price {
  grid-column: 1;
  grid-row: 2;
}

.menu-description {
  grid-column: 2;
  grid-row: 2;
}

.menu-font {
  color: #818589;
  font-size: 12px;
}

/* ABOUT US page */
.contact-container {
  /* margin-bottom: 40px; */
  width: 85%;
  margin: 0 auto 40px auto;
}

.contact-pic {
  max-width: 100%;
}

.contact-header {
  text-align: center;
  font-style: italic;
  font-size: 40px;
}